<!DOCTYPE html>
<html lang="fr">

<%- include("../partials/head") %> <!-- Inclusion de head -->

<body>
<%- include("../partials/header") %>
<!-- Inclusion de l'entête -->

<section class="page-content d-flex flex-column justify-center align-items-center container py-4">
    <h1 class="text-primary">LISTE DES UTILISATEURS</h1>

    <!-- liste des utilisateurs -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach((user)=> { %>
            <tr>
                <th scope="row"><%= user.uuid %></th>
                <td><%= user.email %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</section>

<%- include("../partials/footer") %>
<!-- Inclusion du pied de page -->

</body>

</html>
